/**
 * Created with Cocos2d-x3.0 jsb.
 * User: wind
 * DateTime: 2018/5/19 20:39
 **/

/* 背景图片 */
// .bg-img(@url) {
//     background: url(@url + "@2x.png") no-repeat;
//     background-size: 100%;
// }

.bg-img(@url) {
	background: ~"url(@{url}@2x.png) no-repeat";
	background-size: 100%;
	@media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3) {
		background-image: ~"url(@{url}@3x.png) no-repeat";
		background-size: 100%;
	}
}

/* 文本省略号 */
.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

// Box sizing
.box-sizing(@boxModel) {
    -webkit-box-sizing: @boxModel;
    -moz-box-sizing: @boxModel;
    box-sizing: @boxModel;
}
